:root {
  --font-size: 16px;
  --background: #09090B;
  --foreground: #FAFAFA;
  --card: #18181B;
  --card-foreground: #FAFAFA;
  --popover: #18181B;
  --popover-foreground: #FAFAFA;
  --primary: #2563EB;
  --primary-foreground: #FFFFFF;
  --secondary: #27272A;
  --secondary-foreground: #F4F4F5;
  --muted: #27272A;
  --muted-foreground: #A1A1AA;
  --accent: #3F3F46;
  --accent-foreground: #FAFAFA;
  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;
  --border: rgba(63, 63, 70, 0.7);
  --input: #27272A;
  --input-background: #27272A;
  --switch-background: #3F3F46;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: #2563EB;
  --radius: 0.875rem;
  --sidebar: #111113;
  --sidebar-foreground: #FAFAFA;
  --sidebar-primary: #2563EB;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #27272A;
  --sidebar-accent-foreground: #FAFAFA;
}
